@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Viaoda+Libre&display=swap");

:root {
	--background: hsl(270, 20%, 8%);
	--background-gradient: hsl(280, 25%, 12%);
	--border: hsl(40, 65%, 80%);
	--text: hsl(40, 70%, 85%);
	--button-hover: hsl(280, 25%, 12%);
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    min-width: 100vw;
	background: var(--background);
	background: radial-gradient(
		circle at 100% 0%,
		var(--background-gradient),
		var(--background)
	);
	padding: 2rem;
	height: 100vh;
	color: var(--text);
    overflow-x: hidden;
}

.spell-container {
    display: flex;
	justify-content: center;
	align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    min-width: 100vw;
	padding: 2rem;
}

.search-container, form {
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 1rem;
    min-width: 100vw;
	padding: 2rem;
}

h1, h2 {
	font-family: "Viaoda Libre";
	text-align: center;
}

p {
	font-family: "Poiret One";
	line-height: 1.5;
	opacity: 0.8;

	margin-bottom: 4rem;
}

.card {
	display: flex;
	flex-direction: column;

	background: var(--background);
	width: 50rem;
	height: auto;
	border: 1px solid var(--border);
	position: relative;
	padding: 1rem;

	.corner {
		width: 0.5rem;
		height: 0.5rem;
		border: 1px solid var(--border);
		position: absolute;

		&::after,
		&::before {
			content: "";
			position: absolute;
		}

		&::after {
			width: 2rem;
			height: calc(1rem - 1px);
		}

		&::before {
			width: calc(1rem - 1px);
			height: 2rem;
		}

		&.left {
			left: -0.5rem;

			&::after {
				left: calc(-2px + 1rem);
				border-left: 1px solid var(--border);
			}

			&::before {
				left: -1px;
				border-left: 1px solid var(--border);
			}
		}

		&.right {
			right: -0.5rem;

			&::after {
				right: calc(-2px + 1rem);
				border-right: 1px solid var(--border);
			}

			&::before {
				right: -1px;
				border-right: 1px solid var(--border);
			}
		}

		&.top {
			top: -0.5rem;

			&::after {
				top: -1px;
				border-top: 1px solid var(--border);
			}

			&::before {
				top: calc(-2px + 1rem);
				border-top: 1px solid var(--border);
			}
		}

		&.bottom {
			bottom: -0.5rem;

			&::after {
				bottom: -1px;
				border-bottom: 1px solid var(--border);
			}

			&::before {
				bottom: calc(-2px + 1rem);
				border-bottom: 1px solid var(--border);
			}
		}
	}
}

button {
	display: flex;
	all: unset;
	font-family: "Viaoda Libre";
	text-align: center;
	border-top: 1px solid var(--border);
	border-bottom: 1px solid var(--border);
	height: auto;
	padding: 0 1rem;
	position: relative;
	transition: background 200ms ease-in-out;

	margin: 0 2rem;

	cursor: pointer;

	.left,
	.right {
		position: absolute;
		width: 1.45rem;
		height: 1.45rem;
		border-bottom: 1px solid var(--border);
		border-left: 1px solid var(--border);
		transition: background 200ms ease-in-out;
        top: 38%;

		&::before {
			content: "";
			width: 0.75rem;
			height: 0.75rem;
			border: 1px solid var(--border);
			position: absolute;
			top: calc(1rem - 1px);
			left: calc(-0.4rem - 1px);
		}

		&::after {
			content: "";
			width: 0.5rem;
			height: 0.5rem;
			background: var(--border);
			position: absolute;
			top: calc(1rem - 1px);
			left: calc(-0rem - 1px);
		}
	}

	.left {
		left: -0.75rem;
		transform: rotate(45deg);
	}

	.right {
		right: -0.75rem;
		transform: rotate(-135deg);
	}

	&:hover {
		background: var(--button-hover);

		.left,
		.right {
			background: var(--button-hover);
		}
	}
}

.spell-icon {
    margin: 0;
    padding: 0;
    max-width: 50%;
}
